<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<form action="" method="GET">
  <input type="text" name="search" value="{{ search }}">
  <input type="submit" value="검색">
{% for post in Post_search %}
	<h4>제목: {{ post.title }}</h4>
	<h4>내용: {{ post.content }}</h4>
{% empty %}
	검색 결과가 없습니다.
{% endfor %}
</form>


</body>
</html>